<div style="padding-left: 20px; padding-right: 20px; text-align: left;">
    <h1>欢迎</h1>
    <p><span style="font-weight: bold;">
        {{User.Name}}</span> 同学，学号：{{User.Id}}
    </p>
    <p>
        {{User.Collage.Name}}，{{User.Majority.Name}}专业
    </p>
    <h2>
        个人简介
    </h2>
    <script type="text/javascript">
        function switchMode() {
            var desc = document.getElementById('desc');
            var edit = document.getElementById('edit');
            if(desc.style.display == 'none'){
                desc.style.display = ''
                edit.style.display = 'none'
            }
            else{
                desc.style.display = 'none'
                edit.style.display = ''
            }
        }
    </script>
    <p id="desc">
    {{User.Description | safe}}
    <a class="btn-link" style="padding: 4px 4px 4px 4px; height:auto; margin: auto;" href="javascript: switchMode()">编辑简介</a>
    </p>
    <form action="{% url 'set_user_description' %}" method="GET" id="edit"
        style="display: none;">
    <textarea class="TextEdit" name="description">{{User.Description | safe}}</textarea>
    <input type="submit" value="保存" />
    <input type="button" value="取消" onclick="javascript: switchMode()"/>
    </form>
    <h2>
        通知
    </h2>
    无通知！
</div>